.display {
  width: 100%;

  @media screen and (min-width: 1024px) {
    min-width: 46rem;
    width: auto;
  }
}

.stepper {
  position: relative;
}

.text {
  position: absolute;
  right: 0;
  top: -1.25rem;

  @media screen and (min-width: 768px) {
    top: -1.5rem;
  }

  @media screen and (min-width: 1024px) {
    top: -2rem;
  }
}

.prev {
  grid-area: prev;
}

.next {
  grid-area: next;
}
