.container {
  min-height: 100vh;
  max-width: 85rem;
  margin: 0 auto;
}

.main {
  flex: 6;
  max-width: 100%;

  > * {
    max-width: 36rem;
  }

  @media screen and (min-width: 768px) {
    > * {
      width: 100%;
    }
  }

  @media screen and (min-width: 1024px) {
    > section {
      max-width: 100%;
      width: auto;

      @media screen and (min-width: 1280px) {
        max-width: calc(100% - 8rem);
      }
    }
  }
}

.nav {
  text-transform: capitalize;
}

.nav_container {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;

  @media screen and (min-width: 20rem) {
    width: 16rem;
    left: auto;
  }

  @media screen and (min-width: 768px) {
    right: auto;
    bottom: auto;
    left: 0;
  }

  @media screen and (min-width: 80rem) {
    position: relative;
    margin: 0;
    flex: 1.5;
    width: auto;
  }
}

.nav_button {
  bottom: 1rem;
  right: 1rem;

  @media screen and (min-width: 768px) {
    left: 1rem;
    top: 1rem;
    bottom: auto;
    right: auto;
  }
}

.active {
  @apply text-white bg-stroke;

  &:hover {
    @apply bg-stroke;
  }
}
