.container {
  min-height: 100vh;
}

.main {
  flex: 6;
  max-width: 100%;

  > * {
    max-width: 42rem;
  }

  @media screen and (min-width: 768px) {
    display: block;
  }
}

.nav {
  text-transform: capitalize;
}

.nav_container {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.nav_button {
  bottom: 1rem;
  right: 1rem;
}

.active {
  @apply text-white bg-stroke;

  &:hover {
    @apply bg-stroke;
  }
}
