.nav {
  text-transform: capitalize;
  overflow-y: scroll;
  height: 100%;
  max-height: 100%;
}

.nav_container {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  max-height: 100vh;

  @media screen and (min-width: 20rem) {
    width: 16rem;
    left: auto;
  }

  @media screen and (min-width: 768px) {
    right: auto;
    bottom: auto;
    left: 0;
  }

  @media screen and (min-width: 80rem) {
    position: relative;
    margin: 0;
    flex: 2;
    width: auto;
  }
}

.nav_button {
  bottom: 1rem;
  right: 1rem;

  @media screen and (min-width: 768px) {
    left: 1rem;
    top: 1rem;
    bottom: auto;
    right: auto;
  }
}

.active {
  @apply text-white bg-stroke;

  &:hover {
    @apply bg-stroke;
  }
}
