@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply text-paragraph;
  padding: 0;
  margin: 0;
  font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 18px;
}

* {
  box-sizing: border-box;
}

main {
  flex: 6;
}

main > * {
  width: 42rem;
}

.display {
  min-width: 46rem;
  width: auto;
}

a.active {
  @apply text-white bg-stroke;
}

a.active:hover {
  @apply bg-stroke;
}

img {
  max-width: 100%;
  display: block;
}

h1 {
  line-height: 1.2;
}

.result {
  @apply bg-highlight;
}

.not-found {
  @apply bg-tertiary;
}

.arrow-down {
  bottom: -1em;
}

.visual {
  grid-column: 1 / -2;
}

.highlight {
  @apply bg-gray-500;
}

.input:not(:last-child) {
  @apply mr-4;
}

.svg {
  min-height: 200px;
}

.debug {
  @apply border-4 border-stroke;
}
