@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Circular std', -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
  line-height: 1.6;
  font-size: 18px;
}

* {
  box-sizing: border-box;
}

a {
  color: #0070f3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}

h1 {
  line-height: 1.2;
}

.result {
  @apply bg-green-600;
}

.not-found {
  @apply bg-red-600;
}

.arrow-down {
  bottom: -1em;
}

.main {
  display: grid;
  grid-template-columns: 2rem 42rem 2rem 1fr;
  grid-auto-rows: min-content;
  flex: 4;
}

.main > * {
  grid-column: 2 / span 1;
}

.visual {
  grid-column: 1 / -2;
}

.highlight {
  @apply bg-gray-500;
}

.input:not(:last-child) {
  @apply mr-4;
}

.svg {
  min-height: 200px;
}
